@charset "utf-8";
/* css 나눠서 연결 */
@import url("header.css");
@import url("main.css");
@import url("product.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  font: 15px;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #000;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}
ul,
li {
  list-style: none;
}
/* 큰 레이아웃 */
.contanier {
  width: 100%;
}
/* 공통인 부분분 */
.main_inner {
  width: 70%;

  max-width: 1400px;
  height: 41.66vw;

  margin: auto;
  position: relative;
  display: flex;
  gap: 20px;
  /* background-color: #333; */
}


/* 메인 상품 카테고리  */
.main_product_wrap {
  width: 100%;
  position: relative;
}
